## Задание 1 - Определите какому фильму было выставлено больше всего оценок 5.0.

In [1]:
import pandas as pd

In [2]:
movie_raitings = pd.read_csv('Downloads/ml-20m/ml-20m/ratings.csv')

In [3]:
movie_raitings.head()

   userId  movieId  rating   timestamp
0       1        2     3.5  1112486027
1       1       29     3.5  1112484676
2       1       32     3.5  1112484819
3       1       47     3.5  1112484727
4       1       50     3.5  1112484580

In [4]:
movies = pd.read_csv('Downloads/ml-20m/ml-20m/movies.csv')

In [5]:
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [6]:
movies_merged = pd.merge(movie_raitings, movies, on='movieId', how = 'left')

In [7]:
movies_merged[movies_merged.rating == 5]['title'].value_counts().head()

Shawshank Redemption, The (1994)             31896
Pulp Fiction (1994)                          27762
Silence of the Lambs, The (1991)             22513
Schindler's List (1993)                      22355
Star Wars: Episode IV - A New Hope (1977)    22117
Name: title, dtype: int64

## Задание 2 - Посчитайте суммарное потребление стран Прибалтики

In [8]:
countries = pd.read_csv('Downloads/10._Основы_pandas/power.csv')

In [9]:
countries.head()

   country  year  quantity  category
0  Austria  1996       5.0         1
1  Austria  1995      17.0         1
2  Belgium  2014       0.0         1
3  Belgium  2013       0.0         1
4  Belgium  2012      35.0         1

In [10]:
countries[countries['country'].str.contains('est', case = False)]['country'].unique()

array(['Estonia', 'State of Palestine', 'Timor-Leste'], dtype=object)

In [11]:
baltic_countries = countries[(countries.country == 'Lithuania') | (countries.country == 'Latvia') | (countries.country == 'Estonia')]

In [13]:
categories_baltic_countries = baltic_countries[(baltic_countries.category == 4) | (baltic_countries.category == 12) | (baltic_countries.category == 21)]

In [14]:
finish = categories_baltic_countries[(categories_baltic_countries.year >= 2005) & (categories_baltic_countries.year <= 2010)]

In [23]:
finish[finish.quantity > 0]['quantity'].sum()

240580.0

## Задание 3 - Импортируйте таблицы в pandas dataframe

In [24]:
url = 'https://www.sports.ru/rfpl/table/'

In [25]:
df = pd.read_html(url)[1]

In [26]:
df

    Unnamed: 0       Команда   М   В   Н   П  Заб  Проп   О
0            1         Зенит  21  12   6   3   46    19  42
1            2          ЦСКА  21  12   4   5   37    19  40
2            3       Спартак  21  11   5   5   39    24  38
3            4          Сочи  21  10   7   4   32    22  37
4            5        Динамо  21  11   3   7   28    22  36
5            6     Локомотив  21  10   4   7   26    25  34
6            7        Ростов  21  10   4   7   26    22  34
7            8         Рубин  21  10   4   7   28    26  34
8            9     Краснодар  21   9   4   8   38    27  31
9           10         Химки  21   8   5   8   26    31  29
10          11         Ахмат  21   7   5   9   20    25  26
11          12          Урал  21   4  11   6   18    25  23
12          13         Ротор  21   4   6  11   12    31  18
13          14           Уфа  21   3   5  13   15    33  14
14          15  Арсенал Тула  21   3   5  13   17    37  14
15          16        Тамбов  21   3   4  14   14    34  13